<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Um site contendo as minhas informações, projetos e mídias sociais.">
    <meta name="theme-color" content="#1A1A2E">
    <meta name="timezone" content="America/Sao_Paulo">
    <title>Portfólio</title>
    <link rel="icon" href="/Ícone/icone.ico" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/index.css">
</head>

<body>
    <header>
        <nav>
            <img src="/Ícone/icone.ico" alt="Logo do Site" class="logo">
            <h1>Bem-vindo ao Meu Portfólio</h1>
            <ul>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="portfólio">
            <img src="" alt="Imagem do Portfólio" class="portfolio-image">
            <h2>Portfólio</h2>
            <p>Olá, meu nome é Gabriel. Este é o meu portfólio onde compartilho meus projetos e informações sobre mim.
            </p>
        </section>
        <img src="/Ícone/icone.ico" alt="Logo do Site" class="logo">
        <section id="projetos">
            <h2>Meus Projetos</h2>
            <ul>
                <li><img src="" alt="Sobre Mim"><a href="sobre.html">Gabriel</a>
                    <p>Texto sobre mim</p>
                </li>
                <li><img src="" alt="Projeto 1"><a href="projeto.html">Projeto 1</a>
                    <p>Descrição do Projeto 1</p>
                </li>
                <li><img src="" alt="Projeto 2"><a href="projeto.html">Projeto 2</a>
                    <p>Descrição do Projeto 2</p>
                </li>
                <li><img src="" alt="Projeto 3"><a href="projeto.html">Projeto 3</a>
                    <p>Descrição do Projeto 3</p>
                </li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Gabriel. Todos os direitos reservados.</p>
        <p>Desenvolvido por Gabriel</p>
        <p>Redes Sociais:</p>
        <ul>
            <li><img src="/Ícone/WhatsApp-icone.png" alt="WhatsApp"><a href="https://wa.me/998101048" target="_blank"
                    rel="noopener noreferrer">WhatsApp</a></li>
            <li><img src="/Ícone/github-icone.png" alt="GitHub"><a href="https://github.com/Gabriel-GDS-dev"
                    target="_blank" rel="noopener noreferrer">GitHub</a>
            </li>
            <li><img src="/Ícone/email-icone.png" alt="Email">
                <p>Email: <a href="mailto:gabriel.gsouzza6@gmail.com" target="_blank"
                        rel="noopener noreferrer">gabriel.gsouzza6@gmail.com</a></p>
            </li>
        </ul>
    </footer>

    <script src="/JS/index.js"></script>
</body>

</html>